body {
    background-image: url('http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg');
    font-family: Arial;
    background-size: auto 100vh;
    height: 100%
}

.menu {
    background-color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-title, .site-subtitle{
    color: whitesmoke;
    text-align: center;
}

.site-subtitle{
    font-style: italic;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}